/* Estilos para el encabezado */
*{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    text-align: center;
}

h1 {
    margin: 0;
}

/* Estilos para la sección */
section {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

/* Estilos para los campos de entrada */
label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
input[type="num"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

select {
    background-color: #fff;
    color: #555;
}

/* Estilos para el botón de calcular */
#btnCalcular {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Estilos para los campos de resultado */
input[readonly="true"] {
    background-color: #f8f8f8;
    color: #555;
    font-size: 16px;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
